App_WebReferences/WebService/DIServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://127.0.0.1/SAP/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://127.0.0.1/SAP/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://127.0.0.1/SAP/">
      <s:element name="Information">
        <s:complexType />
      </s:element>
      <s:element name="InformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InformationResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DIServerInteract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SOAPCommand" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DIServerInteractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DIServerInteractResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DIServerBI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SOAPCommands" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DIServerBIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DIServerBIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataBaseServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBaseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBaseType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBaseUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBasePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="License" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogoutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusinessObjectTemplate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Objects" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusinessObjectTemplateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBusinessObjectTemplateResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadObjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Objects" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadObjectsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteSQLResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SBObob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectModel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ParameterValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SBObobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SBObobResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BOM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddObjectResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Objects" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QueryParams" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BOMData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateObjectResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DIServices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Service" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SOAPCommand" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DIServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DIServicesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QR">
        <s:complexType />
      </s:element>
      <s:element name="QRResponse">
        <s:complexType />
      </s:element>
      <s:element name="Token">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataBaseServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBaseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBaseType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBaseUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBasePassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="License" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginSSL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TokenData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginSSLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginSSLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InformationSoapIn">
    <wsdl:part name="parameters" element="tns:Information" />
  </wsdl:message>
  <wsdl:message name="InformationSoapOut">
    <wsdl:part name="parameters" element="tns:InformationResponse" />
  </wsdl:message>
  <wsdl:message name="DIServerInteractSoapIn">
    <wsdl:part name="parameters" element="tns:DIServerInteract" />
  </wsdl:message>
  <wsdl:message name="DIServerInteractSoapOut">
    <wsdl:part name="parameters" element="tns:DIServerInteractResponse" />
  </wsdl:message>
  <wsdl:message name="DIServerBISoapIn">
    <wsdl:part name="parameters" element="tns:DIServerBI" />
  </wsdl:message>
  <wsdl:message name="DIServerBISoapOut">
    <wsdl:part name="parameters" element="tns:DIServerBIResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapIn">
    <wsdl:part name="parameters" element="tns:Validate" />
  </wsdl:message>
  <wsdl:message name="ValidateSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="GetBusinessObjectTemplateSoapIn">
    <wsdl:part name="parameters" element="tns:GetBusinessObjectTemplate" />
  </wsdl:message>
  <wsdl:message name="GetBusinessObjectTemplateSoapOut">
    <wsdl:part name="parameters" element="tns:GetBusinessObjectTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadObjectsSoapIn">
    <wsdl:part name="parameters" element="tns:ReadObjects" />
  </wsdl:message>
  <wsdl:message name="ReadObjectsSoapOut">
    <wsdl:part name="parameters" element="tns:ReadObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteSQL" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteSQLResponse" />
  </wsdl:message>
  <wsdl:message name="SBObobSoapIn">
    <wsdl:part name="parameters" element="tns:SBObob" />
  </wsdl:message>
  <wsdl:message name="SBObobSoapOut">
    <wsdl:part name="parameters" element="tns:SBObobResponse" />
  </wsdl:message>
  <wsdl:message name="AddObjectSoapIn">
    <wsdl:part name="parameters" element="tns:AddObject" />
  </wsdl:message>
  <wsdl:message name="AddObjectSoapOut">
    <wsdl:part name="parameters" element="tns:AddObjectResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateObject" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateObjectResponse" />
  </wsdl:message>
  <wsdl:message name="DIServicesSoapIn">
    <wsdl:part name="parameters" element="tns:DIServices" />
  </wsdl:message>
  <wsdl:message name="DIServicesSoapOut">
    <wsdl:part name="parameters" element="tns:DIServicesResponse" />
  </wsdl:message>
  <wsdl:message name="QRSoapIn">
    <wsdl:part name="parameters" element="tns:QR" />
  </wsdl:message>
  <wsdl:message name="QRSoapOut">
    <wsdl:part name="parameters" element="tns:QRResponse" />
  </wsdl:message>
  <wsdl:message name="TokenSoapIn">
    <wsdl:part name="parameters" element="tns:Token" />
  </wsdl:message>
  <wsdl:message name="TokenSoapOut">
    <wsdl:part name="parameters" element="tns:TokenResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSSLSoapIn">
    <wsdl:part name="parameters" element="tns:LoginSSL" />
  </wsdl:message>
  <wsdl:message name="LoginSSLSoapOut">
    <wsdl:part name="parameters" element="tns:LoginSSLResponse" />
  </wsdl:message>
  <wsdl:message name="InformationHttpGetIn" />
  <wsdl:message name="InformationHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DIServerInteractHttpGetIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="SOAPCommand" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DIServerInteractHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DIServerBIHttpGetIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="SOAPCommands" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DIServerBIHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetIn">
    <wsdl:part name="DataBaseServer" type="s:string" />
    <wsdl:part name="DataBaseName" type="s:string" />
    <wsdl:part name="DataBaseType" type="s:string" />
    <wsdl:part name="DataBaseUserName" type="s:string" />
    <wsdl:part name="DataBasePassword" type="s:string" />
    <wsdl:part name="CompanyUserName" type="s:string" />
    <wsdl:part name="CompanyPassword" type="s:string" />
    <wsdl:part name="Language" type="s:string" />
    <wsdl:part name="LicenseServer" type="s:string" />
    <wsdl:part name="License" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LogoutHttpGetIn">
    <wsdl:part name="SessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogoutHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateHttpGetIn">
    <wsdl:part name="SessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetBusinessObjectTemplateHttpGetIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="Objects" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBusinessObjectTemplateHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ReadObjectsHttpGetIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="Objects" type="s:string" />
    <wsdl:part name="IDName" type="s:string" />
    <wsdl:part name="IDValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadObjectsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLHttpGetIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="Query" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SBObobHttpGetIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="ObjectModel" type="s:string" />
    <wsdl:part name="Parameter" type="s:string" />
    <wsdl:part name="ParameterValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SBObobHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddObjectHttpGetIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="BOM" type="s:string" />
    <wsdl:part name="CommandID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddObjectHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectHttpGetIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="Objects" type="s:string" />
    <wsdl:part name="QueryParams" type="s:string" />
    <wsdl:part name="BOMData" type="s:string" />
    <wsdl:part name="CommandID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DIServicesHttpGetIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="Service" type="s:string" />
    <wsdl:part name="SOAPCommand" type="s:string" />
    <wsdl:part name="Parameters" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DIServicesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="QRHttpGetIn" />
  <wsdl:message name="QRHttpGetOut" />
  <wsdl:message name="TokenHttpGetIn">
    <wsdl:part name="DataBaseServer" type="s:string" />
    <wsdl:part name="DataBaseName" type="s:string" />
    <wsdl:part name="DataBaseType" type="s:string" />
    <wsdl:part name="DataBaseUserName" type="s:string" />
    <wsdl:part name="DataBasePassword" type="s:string" />
    <wsdl:part name="CompanyUserName" type="s:string" />
    <wsdl:part name="CompanyPassword" type="s:string" />
    <wsdl:part name="Language" type="s:string" />
    <wsdl:part name="LicenseServer" type="s:string" />
    <wsdl:part name="License" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TokenHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginSSLHttpGetIn">
    <wsdl:part name="TokenData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginSSLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InformationHttpPostIn" />
  <wsdl:message name="InformationHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DIServerInteractHttpPostIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="SOAPCommand" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DIServerInteractHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DIServerBIHttpPostIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="SOAPCommands" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DIServerBIHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostIn">
    <wsdl:part name="DataBaseServer" type="s:string" />
    <wsdl:part name="DataBaseName" type="s:string" />
    <wsdl:part name="DataBaseType" type="s:string" />
    <wsdl:part name="DataBaseUserName" type="s:string" />
    <wsdl:part name="DataBasePassword" type="s:string" />
    <wsdl:part name="CompanyUserName" type="s:string" />
    <wsdl:part name="CompanyPassword" type="s:string" />
    <wsdl:part name="Language" type="s:string" />
    <wsdl:part name="LicenseServer" type="s:string" />
    <wsdl:part name="License" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LogoutHttpPostIn">
    <wsdl:part name="SessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogoutHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateHttpPostIn">
    <wsdl:part name="SessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetBusinessObjectTemplateHttpPostIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="Objects" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBusinessObjectTemplateHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ReadObjectsHttpPostIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="Objects" type="s:string" />
    <wsdl:part name="IDName" type="s:string" />
    <wsdl:part name="IDValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadObjectsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLHttpPostIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="Query" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SBObobHttpPostIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="ObjectModel" type="s:string" />
    <wsdl:part name="Parameter" type="s:string" />
    <wsdl:part name="ParameterValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SBObobHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddObjectHttpPostIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="BOM" type="s:string" />
    <wsdl:part name="CommandID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddObjectHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectHttpPostIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="Objects" type="s:string" />
    <wsdl:part name="QueryParams" type="s:string" />
    <wsdl:part name="BOMData" type="s:string" />
    <wsdl:part name="CommandID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateObjectHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="DIServicesHttpPostIn">
    <wsdl:part name="SessionID" type="s:string" />
    <wsdl:part name="Service" type="s:string" />
    <wsdl:part name="SOAPCommand" type="s:string" />
    <wsdl:part name="Parameters" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DIServicesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="QRHttpPostIn" />
  <wsdl:message name="QRHttpPostOut" />
  <wsdl:message name="TokenHttpPostIn">
    <wsdl:part name="DataBaseServer" type="s:string" />
    <wsdl:part name="DataBaseName" type="s:string" />
    <wsdl:part name="DataBaseType" type="s:string" />
    <wsdl:part name="DataBaseUserName" type="s:string" />
    <wsdl:part name="DataBasePassword" type="s:string" />
    <wsdl:part name="CompanyUserName" type="s:string" />
    <wsdl:part name="CompanyPassword" type="s:string" />
    <wsdl:part name="Language" type="s:string" />
    <wsdl:part name="LicenseServer" type="s:string" />
    <wsdl:part name="License" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TokenHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LoginSSLHttpPostIn">
    <wsdl:part name="TokenData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LoginSSLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DIServerSoap">
    <wsdl:operation name="Information">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SAP Developer partner information.</wsdl:documentation>
      <wsdl:input message="tns:InformationSoapIn" />
      <wsdl:output message="tns:InformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DIServerInteract">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Interact is used to run the SOAP Command on the DI Server directly.</wsdl:documentation>
      <wsdl:input message="tns:DIServerInteractSoapIn" />
      <wsdl:output message="tns:DIServerInteractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DIServerBI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BatchInteract is used to run the SOAP Commands on the DI Server directly.</wsdl:documentation>
      <wsdl:input message="tns:DIServerBISoapIn" />
      <wsdl:output message="tns:DIServerBISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login to company.</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logout to company.</wsdl:documentation>
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This option is useful to check if your session is valid.</wsdl:documentation>
      <wsdl:input message="tns:ValidateSoapIn" />
      <wsdl:output message="tns:ValidateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBusinessObjectTemplate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use the GetBusinessObjectTemplate to retrieve the XML template of a specified business object.</wsdl:documentation>
      <wsdl:input message="tns:GetBusinessObjectTemplateSoapIn" />
      <wsdl:output message="tns:GetBusinessObjectTemplateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadObjects">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get All Info from an Business Object.</wsdl:documentation>
      <wsdl:input message="tns:ReadObjectsSoapIn" />
      <wsdl:output message="tns:ReadObjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ExecuteSQL is limited to perform SELECT statement only. Performing an SQL statement, in the &lt;Data&gt; element, other than SELECT causes a failure and an error is reported.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteSQLSoapIn" />
      <wsdl:output message="tns:ExecuteSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SBObob">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The SBObob object is raw data access object that enables you to retrieve information quickly and easily.</wsdl:documentation>
      <wsdl:input message="tns:SBObobSoapIn" />
      <wsdl:output message="tns:SBObobSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use the AddObject command to add records to a business object. You can set only the Read/Write properties as defined in the business Object and Service schemas.</wsdl:documentation>
      <wsdl:input message="tns:AddObjectSoapIn" />
      <wsdl:output message="tns:AddObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use the UpdateObject command to update records to a business object. You can set only the Read/Write properties as defined in the business Object and Service schemas.</wsdl:documentation>
      <wsdl:input message="tns:UpdateObjectSoapIn" />
      <wsdl:output message="tns:UpdateObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DIServices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The DI Services provide interfaces to additional logic within SAP Business One, which is not necessarily encapsulated in a business object. That is, the services approach enables to automate the implementation process.</wsdl:documentation>
      <wsdl:input message="tns:DIServicesSoapIn" />
      <wsdl:output message="tns:DIServicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create QR image.</wsdl:documentation>
      <wsdl:input message="tns:QRSoapIn" />
      <wsdl:output message="tns:QRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Token">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generates the encryption of your information to navegate safely over the network.</wsdl:documentation>
      <wsdl:input message="tns:TokenSoapIn" />
      <wsdl:output message="tns:TokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginSSL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login to company with Data Encrypted.</wsdl:documentation>
      <wsdl:input message="tns:LoginSSLSoapIn" />
      <wsdl:output message="tns:LoginSSLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DIServerHttpGet">
    <wsdl:operation name="Information">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SAP Developer partner information.</wsdl:documentation>
      <wsdl:input message="tns:InformationHttpGetIn" />
      <wsdl:output message="tns:InformationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DIServerInteract">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Interact is used to run the SOAP Command on the DI Server directly.</wsdl:documentation>
      <wsdl:input message="tns:DIServerInteractHttpGetIn" />
      <wsdl:output message="tns:DIServerInteractHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DIServerBI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BatchInteract is used to run the SOAP Commands on the DI Server directly.</wsdl:documentation>
      <wsdl:input message="tns:DIServerBIHttpGetIn" />
      <wsdl:output message="tns:DIServerBIHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login to company.</wsdl:documentation>
      <wsdl:input message="tns:LoginHttpGetIn" />
      <wsdl:output message="tns:LoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logout to company.</wsdl:documentation>
      <wsdl:input message="tns:LogoutHttpGetIn" />
      <wsdl:output message="tns:LogoutHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This option is useful to check if your session is valid.</wsdl:documentation>
      <wsdl:input message="tns:ValidateHttpGetIn" />
      <wsdl:output message="tns:ValidateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBusinessObjectTemplate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use the GetBusinessObjectTemplate to retrieve the XML template of a specified business object.</wsdl:documentation>
      <wsdl:input message="tns:GetBusinessObjectTemplateHttpGetIn" />
      <wsdl:output message="tns:GetBusinessObjectTemplateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadObjects">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get All Info from an Business Object.</wsdl:documentation>
      <wsdl:input message="tns:ReadObjectsHttpGetIn" />
      <wsdl:output message="tns:ReadObjectsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ExecuteSQL is limited to perform SELECT statement only. Performing an SQL statement, in the &lt;Data&gt; element, other than SELECT causes a failure and an error is reported.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteSQLHttpGetIn" />
      <wsdl:output message="tns:ExecuteSQLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SBObob">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The SBObob object is raw data access object that enables you to retrieve information quickly and easily.</wsdl:documentation>
      <wsdl:input message="tns:SBObobHttpGetIn" />
      <wsdl:output message="tns:SBObobHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use the AddObject command to add records to a business object. You can set only the Read/Write properties as defined in the business Object and Service schemas.</wsdl:documentation>
      <wsdl:input message="tns:AddObjectHttpGetIn" />
      <wsdl:output message="tns:AddObjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use the UpdateObject command to update records to a business object. You can set only the Read/Write properties as defined in the business Object and Service schemas.</wsdl:documentation>
      <wsdl:input message="tns:UpdateObjectHttpGetIn" />
      <wsdl:output message="tns:UpdateObjectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DIServices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The DI Services provide interfaces to additional logic within SAP Business One, which is not necessarily encapsulated in a business object. That is, the services approach enables to automate the implementation process.</wsdl:documentation>
      <wsdl:input message="tns:DIServicesHttpGetIn" />
      <wsdl:output message="tns:DIServicesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create QR image.</wsdl:documentation>
      <wsdl:input message="tns:QRHttpGetIn" />
      <wsdl:output message="tns:QRHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Token">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generates the encryption of your information to navegate safely over the network.</wsdl:documentation>
      <wsdl:input message="tns:TokenHttpGetIn" />
      <wsdl:output message="tns:TokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginSSL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login to company with Data Encrypted.</wsdl:documentation>
      <wsdl:input message="tns:LoginSSLHttpGetIn" />
      <wsdl:output message="tns:LoginSSLHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DIServerHttpPost">
    <wsdl:operation name="Information">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SAP Developer partner information.</wsdl:documentation>
      <wsdl:input message="tns:InformationHttpPostIn" />
      <wsdl:output message="tns:InformationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DIServerInteract">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Interact is used to run the SOAP Command on the DI Server directly.</wsdl:documentation>
      <wsdl:input message="tns:DIServerInteractHttpPostIn" />
      <wsdl:output message="tns:DIServerInteractHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DIServerBI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BatchInteract is used to run the SOAP Commands on the DI Server directly.</wsdl:documentation>
      <wsdl:input message="tns:DIServerBIHttpPostIn" />
      <wsdl:output message="tns:DIServerBIHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login to company.</wsdl:documentation>
      <wsdl:input message="tns:LoginHttpPostIn" />
      <wsdl:output message="tns:LoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logout to company.</wsdl:documentation>
      <wsdl:input message="tns:LogoutHttpPostIn" />
      <wsdl:output message="tns:LogoutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This option is useful to check if your session is valid.</wsdl:documentation>
      <wsdl:input message="tns:ValidateHttpPostIn" />
      <wsdl:output message="tns:ValidateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBusinessObjectTemplate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use the GetBusinessObjectTemplate to retrieve the XML template of a specified business object.</wsdl:documentation>
      <wsdl:input message="tns:GetBusinessObjectTemplateHttpPostIn" />
      <wsdl:output message="tns:GetBusinessObjectTemplateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadObjects">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get All Info from an Business Object.</wsdl:documentation>
      <wsdl:input message="tns:ReadObjectsHttpPostIn" />
      <wsdl:output message="tns:ReadObjectsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ExecuteSQL is limited to perform SELECT statement only. Performing an SQL statement, in the &lt;Data&gt; element, other than SELECT causes a failure and an error is reported.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteSQLHttpPostIn" />
      <wsdl:output message="tns:ExecuteSQLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SBObob">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The SBObob object is raw data access object that enables you to retrieve information quickly and easily.</wsdl:documentation>
      <wsdl:input message="tns:SBObobHttpPostIn" />
      <wsdl:output message="tns:SBObobHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use the AddObject command to add records to a business object. You can set only the Read/Write properties as defined in the business Object and Service schemas.</wsdl:documentation>
      <wsdl:input message="tns:AddObjectHttpPostIn" />
      <wsdl:output message="tns:AddObjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateObject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use the UpdateObject command to update records to a business object. You can set only the Read/Write properties as defined in the business Object and Service schemas.</wsdl:documentation>
      <wsdl:input message="tns:UpdateObjectHttpPostIn" />
      <wsdl:output message="tns:UpdateObjectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DIServices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">The DI Services provide interfaces to additional logic within SAP Business One, which is not necessarily encapsulated in a business object. That is, the services approach enables to automate the implementation process.</wsdl:documentation>
      <wsdl:input message="tns:DIServicesHttpPostIn" />
      <wsdl:output message="tns:DIServicesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create QR image.</wsdl:documentation>
      <wsdl:input message="tns:QRHttpPostIn" />
      <wsdl:output message="tns:QRHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Token">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generates the encryption of your information to navegate safely over the network.</wsdl:documentation>
      <wsdl:input message="tns:TokenHttpPostIn" />
      <wsdl:output message="tns:TokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginSSL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login to company with Data Encrypted.</wsdl:documentation>
      <wsdl:input message="tns:LoginSSLHttpPostIn" />
      <wsdl:output message="tns:LoginSSLHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DIServerSoap" type="tns:DIServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Information">
      <soap:operation soapAction="http://127.0.0.1/SAP/Information" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServerInteract">
      <soap:operation soapAction="http://127.0.0.1/SAP/DIServerInteract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServerBI">
      <soap:operation soapAction="http://127.0.0.1/SAP/DIServerBI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://127.0.0.1/SAP/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://127.0.0.1/SAP/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="http://127.0.0.1/SAP/Validate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessObjectTemplate">
      <soap:operation soapAction="http://127.0.0.1/SAP/GetBusinessObjectTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadObjects">
      <soap:operation soapAction="http://127.0.0.1/SAP/ReadObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL">
      <soap:operation soapAction="http://127.0.0.1/SAP/ExecuteSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SBObob">
      <soap:operation soapAction="http://127.0.0.1/SAP/SBObob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddObject">
      <soap:operation soapAction="http://127.0.0.1/SAP/AddObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObject">
      <soap:operation soapAction="http://127.0.0.1/SAP/UpdateObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServices">
      <soap:operation soapAction="http://127.0.0.1/SAP/DIServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QR">
      <soap:operation soapAction="http://127.0.0.1/SAP/QR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Token">
      <soap:operation soapAction="http://127.0.0.1/SAP/Token" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginSSL">
      <soap:operation soapAction="http://127.0.0.1/SAP/LoginSSL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DIServerSoap12" type="tns:DIServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Information">
      <soap12:operation soapAction="http://127.0.0.1/SAP/Information" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServerInteract">
      <soap12:operation soapAction="http://127.0.0.1/SAP/DIServerInteract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServerBI">
      <soap12:operation soapAction="http://127.0.0.1/SAP/DIServerBI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://127.0.0.1/SAP/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://127.0.0.1/SAP/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap12:operation soapAction="http://127.0.0.1/SAP/Validate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessObjectTemplate">
      <soap12:operation soapAction="http://127.0.0.1/SAP/GetBusinessObjectTemplate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadObjects">
      <soap12:operation soapAction="http://127.0.0.1/SAP/ReadObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL">
      <soap12:operation soapAction="http://127.0.0.1/SAP/ExecuteSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SBObob">
      <soap12:operation soapAction="http://127.0.0.1/SAP/SBObob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddObject">
      <soap12:operation soapAction="http://127.0.0.1/SAP/AddObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObject">
      <soap12:operation soapAction="http://127.0.0.1/SAP/UpdateObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServices">
      <soap12:operation soapAction="http://127.0.0.1/SAP/DIServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QR">
      <soap12:operation soapAction="http://127.0.0.1/SAP/QR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Token">
      <soap12:operation soapAction="http://127.0.0.1/SAP/Token" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginSSL">
      <soap12:operation soapAction="http://127.0.0.1/SAP/LoginSSL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DIServerHttpGet" type="tns:DIServerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Information">
      <http:operation location="/Information" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServerInteract">
      <http:operation location="/DIServerInteract" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServerBI">
      <http:operation location="/DIServerBI" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <http:operation location="/Logout" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <http:operation location="/Validate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessObjectTemplate">
      <http:operation location="/GetBusinessObjectTemplate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadObjects">
      <http:operation location="/ReadObjects" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL">
      <http:operation location="/ExecuteSQL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SBObob">
      <http:operation location="/SBObob" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddObject">
      <http:operation location="/AddObject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObject">
      <http:operation location="/UpdateObject" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServices">
      <http:operation location="/DIServices" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QR">
      <http:operation location="/QR" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Token">
      <http:operation location="/Token" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginSSL">
      <http:operation location="/LoginSSL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DIServerHttpPost" type="tns:DIServerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Information">
      <http:operation location="/Information" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServerInteract">
      <http:operation location="/DIServerInteract" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServerBI">
      <http:operation location="/DIServerBI" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <http:operation location="/Login" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <http:operation location="/Logout" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <http:operation location="/Validate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessObjectTemplate">
      <http:operation location="/GetBusinessObjectTemplate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadObjects">
      <http:operation location="/ReadObjects" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL">
      <http:operation location="/ExecuteSQL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SBObob">
      <http:operation location="/SBObob" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddObject">
      <http:operation location="/AddObject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateObject">
      <http:operation location="/UpdateObject" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DIServices">
      <http:operation location="/DIServices" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QR">
      <http:operation location="/QR" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="Token">
      <http:operation location="/Token" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginSSL">
      <http:operation location="/LoginSSL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DIServer">
    <wsdl:port name="DIServerSoap" binding="tns:DIServerSoap">
      <soap:address location="http://serveriii/sap/DIServer.asmx" />
    </wsdl:port>
    <wsdl:port name="DIServerSoap12" binding="tns:DIServerSoap12">
      <soap12:address location="http://serveriii/sap/DIServer.asmx" />
    </wsdl:port>
    <wsdl:port name="DIServerHttpGet" binding="tns:DIServerHttpGet">
      <http:address location="http://serveriii/sap/DIServer.asmx" />
    </wsdl:port>
    <wsdl:port name="DIServerHttpPost" binding="tns:DIServerHttpPost">
      <http:address location="http://serveriii/sap/DIServer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>